# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# Ignore other potential bytecode files
*.pyd
/db
cache/
logs/
WebDavHub/frontend/node_modules/
WebDavHub/data/
WebDavHub/cinesync
WebDavHub/cinesync.exe
WebDavHub/frontend/dist/